body{
    background-color: rgb(200, 200, 200);
    color: rgb(89, 89, 128);
    max-width: 1000px;
    margin: 0px auto 0px auto;
    text-align: center;
}

main{
    width: 45%;
}

h1{
    text-align: center;
}

h1 h2{
    text-transform: uppercase;
}

img{
    float: center;
    margin: 50px 50px;
    width: 130%;
    border: solid 1px rgb(89 89 128);
    border-radius: 10%;
}

footer{
    text-align: center;
}

a{
    background-color: blueviolet;
    color: yellow;
    text-decoration-line: none;
}

a :hover{
    background-color: yellow;
    color: blueviolet;
}